workflow.json
{
  "name": "Clarity: Daily Data Fetch and Save (Merge by Index)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{}]
        }
      },
      "id": "scheduleTrigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [-1280, 200],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "jsCode": "return [\n  { domain: \"artfulorthodontics.com\", clarityApiToken: \"<TOKEN1>\" },\n  { domain: \"garrisonorthodontics.com\", clarityApiToken: \"<TOKEN2>\" },\n  { domain: \"popupsmiles.com\", clarityApiToken: \"<TOKEN3>\" },\n  { domain: \"sdcendo.com\", clarityApiToken: \"<TOKEN4>\" },\n  { domain: \"surfcityendo.com\", clarityApiToken: \"<TOKEN5>\" },\n  { domain: \"hamiltonwise.com\", clarityApiToken: \"<TOKEN6>\" },\n  { domain: \"dentalemr.com\", clarityApiToken: \"<TOKEN7>\" },\n  { domain: \"caswellorthodontics.com\", clarityApiToken: \"<TOKEN8>\" },\n  { domain: \"kentmorrisorthodontics.com\", clarityApiToken: \"\" }\n];"
      },
      "id": "codeDomains",
      "name": "Define Domains + Tokens",
      "type": "n8n-nodes-base.code",
      "position": [-1080, 200],
      "typeVersion": 2
    },
    {
      "parameters": {
        "fieldToSplitOut": "domain, clarityApiToken"
      },
      "id": "splitOut",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "position": [-880, 200],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "https://www.clarity.ms/export-data/api/v1/project-live-insights",
        "sendQuery": true,
        "specifyQuery": "json",
        "jsonQuery": "{\"numOfDays\": 2}",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "={\n  \"Authorization\": \"Bearer {{$json[\"clarityApiToken\"]}}\",\n  \"Content-Type\": \"application/json\"\n}"
      },
      "id": "httpRequest",
      "name": "Fetch Clarity Data",
      "type": "n8n-nodes-base.httpRequest",
      "position": [-660, 120],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "index"
      },
      "id": "mergeNode",
      "name": "Merge Domain + Response",
      "type": "n8n-nodes-base.merge",
      "position": [-440, 200],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  return {\n    json: {\n      domain: item.json.domain,\n      data: JSON.stringify(item.json),\n      report_date: new Date().toLocaleDateString('en-CA')\n    }\n  };\n});"
      },
      "id": "reshapeData",
      "name": "Reshape for DB Insert",
      "type": "n8n-nodes-base.code",
      "position": [-220, 200],
      "typeVersion": 2
    },
    {
      "parameters": {
        "table": "clarity_data_store",
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            { "column": "domain", "value": "={{ $json.domain }}" },
            { "column": "data", "value": "={{ $json.data }}" },
            { "column": "report_date", "value": "={{ $json.report_date }}" }
          ]
        }
      },
      "id": "mysqlNode",
      "name": "Insert Rows in DB",
      "type": "n8n-nodes-base.mySql",
      "position": [0, 200],
      "typeVersion": 2.5,
      "credentials": {
        "mySql": {
          "id": "ixlAdnMYkKKtTdPV",
          "name": "MySQL account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[{ "node": "Define Domains + Tokens", "type": "main", "index": 0 }]]
    },
    "Define Domains + Tokens": {
      "main": [[{ "node": "Split Out", "type": "main", "index": 0 }]]
    },
    "Split Out": {
      "main": [
        [{ "node": "Fetch Clarity Data", "type": "main", "index": 0 }],
        [{ "node": "Merge Domain + Response", "type": "main", "index": 0 }]
      ]
    },
    "Fetch Clarity Data": {
      "main": [[{ "node": "Merge Domain + Response", "type": "main", "index": 1 }]]
    },
    "Merge Domain + Response": {
      "main": [[{ "node": "Reshape for DB Insert", "type": "main", "index": 0 }]]
    },
    "Reshape for DB Insert": {
      "main": [[{ "node": "Insert Rows in DB", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "versionId": "clarity-merge-index-001"
}
